<form class="{{cssClass}} arm5eChooser aura-config" autocomplete="off">
  {{> "systems/arm5e/templates/roll/parts/roll-header.html" header="Inputs" }}
  <div class="marginsides32">
    <div>
      <h1 style="text-align:center">{{localize "Import Document"}}</h1>
    </div>

    <fieldset>
      <legend>{{localize "Documents to import"}}</legend>
      <div class="form-group">
        <label style="text-align: right;">Abilities</label>
        <input type="checkbox" name="process.abilities" {{checked process.abilities}} />
        <label style="text-align: right;">Virtues&Flaws</label>
        <input type="checkbox" name="process.virtuesAndFlaws" {{checked process.virtuesAndFlaws}} />
        <label style="text-align: right;">Equipment</label>
        <input type="checkbox" name="process.equipment" {{checked process.equipment}} />
        <label style="text-align: right;">Spells</label>
        <input type="checkbox" name="process.spells" {{checked process.spells}} />
      </div>
    </fieldset>

    <div class="flexrow resource">
      <button class="analysis" style="margin-top: 3px;">Do stuff</button>
    </div>

    <div class="">
      <button class="pick-files" style="margin-top: 3px;">Pick file</button>
    </div>
  </div>


  {{> "systems/arm5e/templates/roll/parts/roll-footer.html" footer="Inputs"}}
</form>